*
.DS_Store
!README.md

!nvim/
!nvim/**
nvim/lazy-lock.json

!tmux/
!tmux/**
tmux/plugins

!ghostty/
!ghostty/**
ghostty/.DS_Store

!ohmyposh/
!ohmyposh/**

!.config/
!.config/**
.config/tmux/plugins

!.zshrc
!.zprofile
